@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
.main{
	margin: 0px auto;
	width: 100%;
	height: 100%;
}
.regist1>img{
	margin: 0px auto;
	width: 100%;
	height: 100%;
	position: relative;
}
h5{
	position: absolute;
	bottom: 650px;
	left:900px;
	font-size: 22px;
	font-family: "楷体";
	width: 250px;
	height: 25px;
}
a{		
	color:rgb(51,138,234);
	text-decoration: none;
}
h2{
	letter-spacing: 7px;
	position: absolute;
	top: 65px;
	left: 740px;
	font-size: 60px;
	font-family: "楷体";
	
}
.regist2{
/*	background:linear-gradient(to bottom, rgba(252, 157, 145, 0.1) 0%, rgba(249, 205, 173, 0.1) 40%, rgba(200, 200, 169, 0.2) 98%, #FFFFFF 100%);
*/	
	background:linear-gradient(to bottom, rgba(199, 237, 233, 0.2) 3%, rgba(175, 215, 237, 0.1) 40%, rgba(147, 224, 255, 0.1) 99%, #FFFFFF 100%);
	position: absolute;
	top: 23%;
	left: 39%;
	width: 470px;
	height: 525px;
	border-radius: 35px;
}
form{
	margin-top: 10px;
	margin-left: 26px;
}
p{
	font-size: 27px;
	font-family: "楷体";
	line-height: 58px;
	
}
[type="date"],[type="text"],[type="password"],[type="number"]{
	height: 38px;
	width: 260px;
}
span{
	padding-left: 200px;
	font-size: 28px;
	font-family: "楷体";

}
span>#nv{
	margin-left: 40px;
}
#regist{
	font-size: 26px;
	font-family: "楷体";
	margin-top: 30px;
	width: 400px;
	height: 42px;
	margin-left: 8px;
}
